#u2293
{
	border-color: #000000;
	background-color: #7F7F7F;
	position: relative;
}

#u2295
{
	position: relative;
}

#u2294-4
{
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	font-family: abril-fatface, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u2696-4
{
	background-color: #FD0808;
	text-align: right;
	position: relative;
}

