@-ms-viewport
{
	width: 320px;
}

@-webkit-viewport
{
	width: 320px;
}

@-o-viewport
{
	width: 320px;
}

@-moz-viewport
{
	width: 320px;
}

@viewport
{
	width: 320px;
}

.html
{
	background-color: #F0EFEE;
}

#page
{
	z-index: 1;
	width: 320px;
	min-height: 480px;
}

#pu2305
{
	width: 0.01px;
	position: relative;
}

#u2305
{
	z-index: 2;
	width: 320px;
	margin-right: -10000px;
}

#u2306
{
	z-index: 7;
	width: 55px;
	margin-right: -10000px;
}

#u2304-4
{
	z-index: 3;
	width: 216px;
	min-height: 39px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 70px;
}

#u2331-4
{
	z-index: 41;
	width: 38px;
	min-height: 40px;
	background-color: #F38202;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 282px;
}

#u2331-2
{
	padding-top: 10px;
}

#u2323
{
	z-index: 40;
	width: 300px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 0px;
	margin-left: 10px;
	margin-top: 18px;
	position: relative;
}

#u2323_position_content
{
	margin-bottom: 126px;
}

#u3425
{
	z-index: 45;
	width: 299px;
	height: 353px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../../images/sam_0458-u3425-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u3432-4
{
	z-index: 46;
	width: 289px;
	min-height: 192px;
	margin-left: 5px;
	margin-top: 17px;
	position: relative;
}

#u2652
{
	z-index: 10;
	width: 260px;
	margin-left: 30px;
	margin-top: 16px;
}

#u2655-6
{
	z-index: 11;
	width: 100px;
	min-height: 94px;
	padding-top: 6px;
	margin-right: -10000px;
	left: 80px;
}

#u2655-6:hover
{
	padding-top: 6px;
	padding-bottom: 0px;
	min-height: 94px;
	margin: 0px -10000px 0px 0px;
}

#u2655-6.MuseLinkActive
{
	padding-top: 6px;
	padding-bottom: 0px;
	min-height: 94px;
	margin: 0px -10000px 0px 0px;
}

#u2653-6
{
	z-index: 17;
	width: 100px;
	min-height: 95px;
	padding-top: 5px;
	margin-right: -10000px;
	margin-top: 82px;
}

#u2653-6:hover
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 95px;
	margin: 82px -10000px 0px 0px;
}

#u2656-6
{
	z-index: 23;
	width: 100px;
	min-height: 95px;
	padding-top: 5px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 160px;
}

#u2653-6.MuseLinkActive,#u2656-6:hover
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 95px;
	margin: 82px -10000px 0px 0px;
}

#u2656-6.MuseLinkActive
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 95px;
	margin: 82px -10000px 0px 0px;
}

#u2654-6
{
	z-index: 29;
	width: 100px;
	min-height: 95px;
	padding-top: 5px;
	margin-right: -10000px;
	margin-top: 163px;
	left: 80px;
}

#u2654-6:hover
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 95px;
	margin: 163px -10000px 0px 0px;
}

#u2654-6.MuseLinkActive
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 95px;
	margin: 163px -10000px 0px 0px;
}

#u2313
{
	z-index: 9;
	width: 316px;
	padding-left: 4px;
	padding-top: 2px;
	margin-top: 17px;
}

#u3254
{
	z-index: 39;
	width: 290px;
	min-height: 28px;
}

#u2711-4
{
	z-index: 35;
	width: 52px;
	min-height: 16px;
	margin-left: 264px;
	margin-top: 13px;
}

#page .verticalspacer
{
	clear: both;
}

